@import "../../Index.scss";

.history {
  background-color: $marble;
  border: 3px solid $black;
  padding: 1rem 0;
  margin: 1rem 0 0 0;
  width: 350px;
  transition: all 0.3s ease;

  .history__title {
    text-align: center;
    text-decoration: underline;
  }

  .history__element {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0.6rem 0 0 0;
    color: $text-color;
    transition: all 0.3s ease;

    &:hover {
      color: $soft-blue;
    }
  }
}

@media screen and (max-width: 400px) {
  .history {
    width: 280px;
    .history__title {
    }
  }
}
