@import "../../Index.scss";

.sidebar {
  background-color: $charcoal;
  border-left: 3px solid $black;
  border-right: 3px solid $black;
  flex: 1;
  padding: 0 0 1rem 0;

  #dropdown {
    display: none;
  }

  .dropdown__button {
    color: $marble;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    margin: 1rem auto 0 auto;
    width: fit-content;
  }

  .sidebar-dropdown {
    align-items: center;
    display: flex;
    flex-direction: column;

    .sidebar-content-list-container {
      display: flex;
      flex-wrap: wrap;
    }

    .terms-glosary__link {
      background-color: $marble;
      border: 3px solid $black;
      border-radius: 0.15rem;
      color: $text-color;
      display: block;
      font-weight: bold;
      font-size: 1.4rem;
      margin: 1rem 0 0 0;
      padding: 1rem;
      width: 350px;
      transition: all 0.3s ease;
      &:hover {
        color: $soft-blue;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .sidebar {
    width: 100%;
    border-bottom: 3px solid $black;

    #dropdown:checked ~ .sidebar-dropdown {
      display: flex;
    }

    .dropdown__button {
      display: block;
    }

    .sidebar-dropdown {
      display: none;
    }
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    .sidebar-dropdown {
      .terms-glosary__link {
        width: 280px;
      }
    }
  }
}
